*,
*::after
*::before{
    box-sizing: border-box;
}

body{
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
}

a{
    text-decoration: none;
    color: inherit;
}
/* убираем марджины тк при использовании normalaze.css сеть стандартные отступ в отличии от rezet.css */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    /* убираем маркеры */
    list-style: none;
}

.container{
    max-width: 1230px;
    /* сверху/сниху паддинг 0, а с лева/права по 15 */
    padding: 0 25px;
    /* ставим контент по центру */
    margin: 0 auto;
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;
    /* он написал у меня не катит  */
    /* margin-top: 80px; */
}
.header__phone{
    color: #B9C400;
}

.header::before{
    content: '';
    position: absolute;
    background-image: url(../images/header-decor.svg);
    /* прижимаем к низу / левой и правой стороне*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* опускаем елки */
    transform: translateY(50%);
    z-index: 2;
}

.header::after{
    content: '';
    position: absolute;
    background-image: url(../images/header-decor.svg);
    /* прижимаем к низу / левой и правой стороне*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* опускаем елки */
    transform: translateY(95%) rotate(180deg);
    z-index: 3;
}


.header__top{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;
}

.logo path{
    transition: fill .3s ease;
}

.logo:hover path{
    fill: #0093A1;
    transition: fill .3s ease;
}

.header__btn{
    text-transform: uppercase;
    color: #fff;
    padding: 12px 71px;
    background-color: #262C27;
    border: none;
    cursor: pointer;
}

.header__content{
    /* делаем высоту во весь контент минуст 161 пх высота верхней части */
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__content-box{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: #fff;
    margin-bottom: 150px;
}

.header__title{
    text-transform: uppercase;
    margin-bottom: 20px;
    /* из фигмы */
    font-size: 64px;
    line-height: 71px
}

.header__text{
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}

.header__decor-text{
    position: absolute;
    bottom: 10px;
    color: #0093A1;

}

.header__decor-text--1{
    z-index: 1;
    right: 145px;
    bottom: 90px;
}

.header__decor-text--1,
.header__decor-text--2{
    font-family: 'Comfortaa', cursive;
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3;
}

.header__decor-text--2{
    z-index: 4; 
    left: 300px;
    bottom: 0;
}

.header__decor-text--3{
    text-align: center;
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
}

.info{
    background-image: url(../images/inf0-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.info::before{
    content: '';
    position: absolute;
    height: 130px;
    background-color: #262C27;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-15px);
    z-index: 1;
}

.info__top{
    display: flex;
    gap: 80px;
    padding-top: 30px;
    margin-bottom: 90vh;
}

.info__top-text{
    padding-top: 375px;
    width: 290px;
    color: #fff;
    position: relative;
}

.info__top-text--one{
    padding-bottom: 125px;
}

.info__top-text--two{
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.info__top-img{
    position: relative;
    z-index: 6;
    max-height: 600px;
    padding-top: 200px;
}

.popup-btn{
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.popup-btn span{
    padding-top: 12px;
    display: block;
    color: #fff;
}

.info__btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.info__specs{
    display: flex;
    align-items: center;
    gap: 130px;
    color: #fff;
    padding-bottom: 50px;
}

.info__specs-title{
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 67px;
    width: 250px;
}

.info__specs-list{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    font-weight: 700;
}

.info__specs-item{
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}

.info__specs-caption{
    width: 185px;
}